<h4 *ngIf="data.Id === undefined" mat-dialog-title>Create CYLY Addition</h4>
<h4 *ngIf="data.Id > 0" mat-dialog-title>Edit CYLY Addition</h4>
<mat-dialog-content>
  <mat-grid-list cols="7" rowHeight="60px">
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <mat-select [(value)]="data.Yr" placeholder="Year">
            <mat-option *ngFor="let year of _years" [value]="year">{{year}}</mat-option>
          </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <mat-select [(value)]="data.Mth" placeholder="Month">
              <mat-option *ngFor="let month of _months" [value]="month.key">{{month.value}}</mat-option>
          </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <mat-select [(value)]="_selectedCompany" placeholder="Company" (selectionChange)="GetSalesReps(_selectedCompany)">
            <mat-option *ngFor="let c of _companies" [value]="c.key">{{c.value}}</mat-option>
          </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <mat-select [(value)]="data.SalesRepName" placeholder="Sales Rep" (selectionChange)="GetTeam($event)">
            <mat-option *ngFor="let rep of _salesReps" [value]="rep.Name">{{rep.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <mat-select [(value)]="data.OppositeSalesRepName" placeholder="Opposite Sales Rep">
            <mat-option *ngFor="let rep of _oppSalesReps" [value]="rep.Name">{{rep.Name}}</mat-option>
          </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <mat-form-field>
          <input matInput placeholder="Team" [(ngModel)]="data.Team">
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-form-field>
        <mat-select [(value)]="data.BuyingGroupId" placeholder="Buying Group">
          <mat-option *ngFor="let grp of _buyingGroups" [value]="grp.id">{{grp.grp}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-tab-group id="createTabs">
    <mat-tab label="Gross">
      <mat-grid-list cols="3" rowHeight="60px">
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="Sale Value" type="number" min="0" [(ngModel)]="data.SaleValue_g">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="Sale Cost" type="number" min="0" [(ngModel)]="data.SaleCost_g">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="Sale Contribution" type="number" min="0" [(ngModel)]="data.SaleMargContr">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="KF Value" type="number" min="0" [(ngModel)]="data.KFValue_g">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="KF Cost" type="number" min="0" [(ngModel)]="data.KFCost_g">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="KF Contribution" type="number" min="0" [(ngModel)]="data.KFMargContr">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="Clearance Value" type="number" min="0" [(ngModel)]="data.ClearanceValue_g">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="Clearance Cost" type="number" min="0" [(ngModel)]="data.ClearanceCost_g">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field>
            <input matInput placeholder="Clearance Contribution" type="number" min="0" [(ngModel)]="data.ClearanceMargContr">
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
  <mat-form-field style="width:100%">
    <textarea matInput placeholder="Reason" [(ngModel)]="data.Reason"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div style="margin: 0 auto">
    <button mat-button mat-dialog-close color="warn"><i class="material-icons">cancel</i></button>
    <button mat-button [mat-dialog-close]="data" [disabled]="!Valid()" color="primary"><i class="material-icons">save</i></button>
  </div>
</mat-dialog-actions>