.headerSection {	
	font-size: 18px;
	font-weight: 50;
    opacity:0.9;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.mat-tab-header {
    align-self: center !important;
}