<div id="topHeader">
  <div id="loginDiv">
      <ul class="nav navbar-nav">
          <li><a *ngIf="_adalService.isAuthenticated">Welcome, {{_adalService.userInfo.profile.name}}</a></li>
          <li><a *ngIf="_adalService.isAuthenticated" (click)="Logout()">Sign Out</a></li>
      </ul>
  </div>
</div>
<div class="body-content">
<header id="header">
  <div class="pageWrap">
      <!-- <a [routerLink]="['/home']"><img id="logo" src="../../../assets/images/Luceco-Logo-Transparent.png" alt="logo" height="28"></a> -->
    <a [routerLink]="['/home']"><img id="logo" src="../CYLY/assets/images/Luceco-Logo-Transparent.png" alt="logo" height="28"></a>
  </div>
</header>
<h4>
  <span class="headerSection">CYLY Additions</span>
  <span class="headerSectionPage">{{title}}</span>
</h4>
<div class="burgerMenu">
    <button mat-button [matMenuTriggerFor]="menu" class="burger-menu"><i class="material-icons" style="font-size:30px;">menu</i></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/home']">Home</button>
      <button mat-menu-item [routerLink]="['/history']">History</button>
    </mat-menu>
</div>

<hr class="sectionDivider" />
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
<p>©{{currentYear}} - Luceco Plc</p>
</footer>