:root {
    --luceco-green: #bed640;
}

#header {
    height:60px;
    border-bottom:1px solid #bed640;
    color:#666;
}

#topHeader {
    width:100%;
    height:30px;
    background-color:#bed640;
    color:white;
    margin: -8px 80px 0px -8px;
}

#loginDiv {
    float:right;
    margin-left:auto;
    align-items: center;
    padding-right: 60px;
    margin-top: -4px;
}

#logo {
    height:28px;
    margin-top:17px;
    float:left;
    display:block;
}

#header > .pageWrap {
    height:60px;
    width:100%;
    margin-right:0 auto;
}

.body-content {
    padding-left: 60px;
    padding-right: 60px;
	background-color: #fafafa
}

.headerSection {	
	font-size: 25px;
	font-weight: 400;
    opacity:0.9;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.headerSectionPage {
    font-size: 25px;
	font-weight: 400;
    opacity:0.5;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.navbar-text > .btn {
  margin-top: -5px;
  height: 30px;
  padding-top: 4px;
}

.navbar {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nav {
    list-style: none;
}

.nav > li {
    display: inline;
    padding-right: 10px;
}

.navbar-nav > li > a {
    color: white;
    border-bottom: 3px solid transparent;
}

.navbar-nav > li > a:hover {
    color:white;
    background-color:#bed640;
    border-bottom: 3px solid white;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.footer {
	color: #777;
	padding: 10px 15px 30px 0;
	height: 50px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
    margin-top: 100px;
}

#menu {
  list-style-type: none;
  margin-right: -180px;
  padding: 0;
  float: right;
  height:60px;
  text-decoration:none;
}

#menu .top-level {
  float: left;
  padding: 0 10px;
  line-height: 51px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

#menu .top-level a:hover {
    color: #333;
    border-bottom: 3px solid #bed640;
    text-decoration:none;
}

#header li.top-level>a, #header li.top-level>p {
  line-height: 51px;
  display: block;
  padding-top: 5px;
  margin-right: 0;
  font-size: 13px;
  color: #666;
  text-decoration:none;
}

.home-menu {
    border-left: 1px solid #D4D4D4;
}

#header ul {
    margin-top:0px;
    margin-bottom:10px;
}

.container {
    width:90%;
    margin-left: 5%;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,.87);
}

.burgerMenu {
    float:right;
    margin-top: -50px;
}