<!-- <mat-spinner *ngIf="_isLoading"></mat-spinner> -->

<div style="text-align:center;">
  <button mat-raised-button color="primary" (click)="LoadCreationDialog()"><i class="material-icons" style="font-size:30pt;">add</i><span>Create New Addition</span></button>
</div>
<div>
  <mat-form-field id="filterFormField">
    <input matInput (keyup)="ApplyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <mat-table id="additionTable" #additionTable [dataSource]="_additions" matSort>
    <ng-container matColumnDef="Yr">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Year</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.Yr}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Mth">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Month</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.Mth}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="SalesRepName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Sales Rep</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.SalesRepName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="OppositeSalesRepName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Opp. Sales Rep</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.OppositeSalesRepName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Team">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Team</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.Team}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="SaleValue_g">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.SaleValue_g}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="SaleCost_g">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cost</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.SaleCost_g}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="SaleMargContr">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Contribution</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.SaleMargContr}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="KFValue_g">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.KFValue_g}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="KFCost_g">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cost</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.KFCost_g}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="KFMargContr">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Contribution</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.KFMargContr}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ClearanceValue_g">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.ClearanceValue_g}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ClearanceCost_g">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cost</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.ClearanceCost_g}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="ClearanceMargContr">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Contribution</mat-header-cell>
      <mat-cell *matCellDef="let addition">{{addition.ClearanceMargContr}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let addition">
        <i class="material-icons" style="color:#ff9900;" (click)="EditAddition(addition)">edit</i>
        <i class="material-icons" style="color:#e60000;" (click)="DeleteAddition(addition.Id)">delete</i>
      </mat-cell>
    </ng-container>

    <ng-container *matHeaderRowDef="columns">
      <div class="mat-header-row header-group-row">
        <div class="mat-header-cell" role="columnheader"></div>
        <div class="mat-header-cell header-group" role="columnheader" style="flex: 1"><span>Sale</span></div>
        <div class="mat-header-cell header-group" role="columnheader" style="flex: 1"><span>King Fisher</span></div>
        <div class="mat-header-cell header-group" role="columnheader" style="flex: 1"><span>Clearance</span></div>
        <div class="mat-header-cell" role="columnheader"></div>
      </div>
      <mat-header-row></mat-header-row>
    </ng-container>
    <mat-row *matRowDef="let myRowData; columns: columns"
              matTooltip="Reason: {{myRowData.Reason}}"></mat-row>
  </mat-table> 

  <mat-paginator #paginator
                  [pageSize]="10"
                  [pageSizeOptions]="[5,10,20]"
                  [showFirstLastButtons]="true">
  </mat-paginator>
</div>