 mat-table > mat-row > mat-cell {
    text-align: center;
    font-size: 12px;
    min-height: 48px;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content:center;
}

mat-table > mat-header-row > mat-header-cell {
    display:flex;
    justify-content: center;
}

mat-table > mat-row:hover {
    background-color: #e8e8e8;
    cursor: pointer;
} 

mat-table {
    margin-top: 60px;
}

.mat-header-cell {
    padding: 0 10px; 
}

.header-group-row {
    border: none;
    align-items: stretch;
    background: #f2f2f2;
}

.header-group {
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    border-left: 1px solid rgba(0, 0, 0, 0.12);
    align-content: center;
    font-weight: bold;
    text-align: center;
}

.mat-header-row {
    display: flex;
    padding: 0 24px;
    box-sizing: border-box;
    height: 56px;
    align-content: center;
}

.mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
}

.header-group > span {
    padding-left:45%;
}

#filterFormField {
    float:right;
    margin-top: -60px;
}
