@import '~@angular/material/theming';
@include mat-core();

$md-brandgreen: (
  50 : #e4ebe7,
  100 : #baccc2,
  200 : #8dab99,
  300 : #5f8970,
  400 : #009933,
  500 : #1a5633,
  600 : #174f2e,
  700 : #134527,
  800 : #e60000,
  900 : #082b14,
  A100 : #ff9900,
  A200 : #34ff70,
  A400 : #01ff4c,
  A700 : #00e644,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$my-app-primary: mat-palette($md-brandgreen, 400);
$my-app-accent:  mat-palette($md-brandgreen, A100);
$my-app-warn:    mat-palette($mat-red, 800);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);