/* You can add global styles to this file, and also import other style files */
@import './LucecoPallet.scss';

body {
    width: 100% !important;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background-color: #fafafa;
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

.detailsBlock {
    background-color: #f5f5f5;
    background-repeat: repeat;
    margin-left:20px;
    margin-right:20px;
    padding:10px;
}

.detailsBlock:hover {
    background-color: #f0f0f0;
}

h5 {
    font-size:20px;
    font-weight:500;
    line-height:1;
    letter-spacing: .02em;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    margin:20px;
}

.sectionDivider {
    color:lightgray;
	opacity:0.5;
    width:100%;
}

.mat-form-field-label-wrapper > label {
    font-size: 12pt;
}

.mat-sort-header-arrow {
    transform: translateY(25%);
    opacity: 0;
}

#createTabs > .mat-tab-header {
    align-self: center;
}

#createTabs > div > mat-tab-body > div > mat-grid-list > div {
    margin-top:10px;
}