<section class="body-content">
  <div class="content-align">
    <div *ngIf="!isLoggedIn">
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
  </div>
</section>